argcomplete @ file:///tmp/build/80754af9/argcomplete_1618920853202/work
asgiref @ file:///C:/ci_311/asgiref_1676448296195/work
astroid @ file:///C:/ci_311/astroid_1678740610167/work
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
cffi @ file:///C:/ci_311/cffi_1676423759166/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1629909281805/work
click==8.1.7
colorama @ file:///C:/ci_311/colorama_1676422310965/work
commitizen @ file:///home/conda/feedstock_root/build_artifacts/commitizen_1658501461194/work
constantly==23.10.4
cryptography==41.0.7
decli @ file:///home/conda/feedstock_root/build_artifacts/decli_1639704392095/work
dill @ file:///C:/b/abs_084unuus3z/croot/dill_1692271268687/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1689598491484/work
Django @ file:///C:/ci_311/django_1676469589007/work
django-bootstrap5 @ file:///home/conda/feedstock_root/build_artifacts/django-bootstrap5_1686162285918/work
djhtml==3.0.6
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
hkdf==0.0.3
humanize==4.9.0
hyperlink==21.0.0
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1692647718293/work
idna==3.6
importlib-metadata @ file:///C:/ci_311/importlib-metadata_1676426235596/work
incremental==22.10.0
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
lazy-object-proxy @ file:///C:/ci_311/lazy-object-proxy_1676432050939/work
MarkupSafe @ file:///C:/ci_311/markupsafe_1676424152318/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1683892983968/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
Pillow @ file:///D:/bld/pillow_1688255919575/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
pre-commit @ file:///home/conda/feedstock_root/build_artifacts/pre-commit_1686748903002/work
prompt-toolkit @ file:///C:/ci_311/prompt-toolkit_1676425940920/work
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pylint @ file:///C:/ci_311/pylint_1678740302984/work
PyMySQL==1.1.0
PyNaCl==1.5.0
pyOpenSSL==23.3.0
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
pywin32==306
PyYAML @ file:///C:/ci_311/pyyaml_1676432488822/work
questionary @ file:///home/conda/feedstock_root/build_artifacts/questionary_1647298722583/work
service-identity==23.1.0
six==1.16.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spake2==0.8
sqlparse @ file:///C:/b/abs_88361ub_qu/croot/sqlparse_1690904577514/work
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1657118200573/work
tomlkit @ file:///C:/ci_311/tomlkit_1676425418821/work
tqdm==4.66.1
Twisted==23.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
txtorcon==23.11.0
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
ukkonen @ file:///C:/ci_311/ukkonen_1676447679708/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1691926478674/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wrapt @ file:///C:/ci_311/wrapt_1676432805090/work
zipp @ file:///C:/ci_311/zipp_1676426100491/work
zope.interface==6.1
